In [8]:
import os
import sys

# modify sys.path for it to contain the main repo path so we can import modules such as below
parent_dir = os.path.abspath(os.path.join(os.getcwd(), '..'))
if parent_dir not in sys.path:
    sys.path.insert(0, parent_dir)

from utils.data_utils import get_entire_df

In [9]:
df = get_entire_df()
df.info()

(3172, 26)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3172 entries, 0 to 3171
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Transaction Name               3172 non-null   object
 1   Transaction Name URL           3172 non-null   object
 2   Organization Industries        3128 non-null   object
 3   Lead Investors                 1557 non-null   object
 4   Investor Names                 2603 non-null   object
 5   Money Raised                   2208 non-null   float64
 6   Money Raised Currency          2219 non-null   object
 7   Money Raised (in USD)          2208 non-null   float64
 8   Funding Type                   3172 non-null   object
 9   Announced Date                 3172 non-null   object
 10  Pre-Money Valuation            230 non-null    float64
 11  Pre-Money Valuation Currency   230 non-null    object
 12  Pre-Money Valuation (in USD)   230 non-null    float64
 13  Organization Name              3172 non-null   object
 14  Organization Name URL          3172 non-null   object
 15  Organization Location          3172 non-null   object
 16  Organization Description       3172 non-null   object
 17  Organization Website           3155 non-null   object
 18  Funding Stage                  3172 non-null   object
 19  Number of Funding Rounds       3172 non-null   int64
 20  Total Funding Amount           2515 non-null   float64
 21  Total Funding Amount Currency  2521 non-null   object
 22  Total Funding Amount (in USD)  2515 non-null   float64
 23  Equity Only Funding            3172 non-null   object
 24  Funding Status                 3113 non-null   object
 25  Number of Investors            2603 non-null   float64
dtypes: float64(7), int64(1), object(18)
memory usage: 644.4+ KB